.front {
    width: 300px;
    margin: 5px 32px 45px 32px;
    background-color: #f0f0f0;
    color: #666;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.booking_area {
    float: right;
    position: relative;
    width: 200px;
    height: 450px;
}

.booking_area h3 {
    margin: 5px 5px 0 0;
    font-size: 16px;
}

.booking_area p {
    line-height: 26px;
    font-size: 16px;
    color: #999
}

.booking_area p span {
    color: #666
}

div.seatCharts-cell {
    color: #182C4E;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
}

div.seatCharts-seat {
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.seatCharts-row {
    height: 35px;
}

div.seatCharts-seat.available {
    background-color: #B9DEA0;
}

div.seatCharts-seat.focused {
    background-color: #76B474;
    border: none;
}

div.seatCharts-seat.selected {
    background-color: #33f;
}
div.seatCharts-seat.locking {
    background-color: #f11;
    pointer-events: none;
    cursor: not-allowed;
}
div.seatCharts-seat.unavailable {
    background-color: #472B34;
    cursor: not-allowed;
}

div.seatCharts-container {
    border-right: 1px dotted #adadad;
    width: 400px;
    padding: 20px;
    float: left;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

div.seatCharts-legend {
    padding-left: 0px;
    position: absolute;
    bottom: 16px;
}

ul.seatCharts-legendList {
    padding-left: 0px;
}

.seatCharts-legendItem {
    float: left;
    width: 90px;
    margin-top: 10px;
    line-height: 2;
}

span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}

.checkout-button {
    display: block;
    width: 80px;
    height: 24px;
    line-height: 20px;
    margin: 10px auto;
    border: 1px solid #999;
    font-size: 14px;
    cursor: pointer
}

#seats_chose {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: none;
    width: 200px;
}

#seats_chose li {
    float: left;
    width: 72px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d3d3d3;
    background: #f7f7f7;
    margin: 6px;
    font-size: 14px;
    font-weight: bold;
    text-align: center
}